body{
	background-color: #000000;
}

/* さくせんリストdiv内の要素 */
.operationList {
	width: 600px;
	height: 400px;
	margin: 0 auto;
	position: relative;
}
#operation {
	position: absolute;
	top: -60px;
	left: 50px;
	color: #ffffff;
	font-size: 60px;
	width: 240px;
	height: 60px;
	z-index: 1;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #000000;
}
#line {
	position: absolute;
	top: 30px;
	left: 20px;
	width: 560px;
	height: 355px;
	border: 3px #ffffff solid;
	border-radius: 25px;
}
.list {
	position: absolute;
	font-size: 55px;
	top: 40px;
	left: 40px;
	height: 300px;
}
.check input {
	opacity: 0;
	width: 30px;
	margin-left: -30px;
}
.label {
	position: relative;
	padding-left: 80px;
}
.label:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 32px 0 32px 55.4px;
	border-color: transparent transparent transparent #000000;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -33px;
}
.label:hover:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 32px 0 32px 55.4px;
	border-color: transparent transparent transparent #808080;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -33px;
	cursor: pointer;
}
.check input[type="radio"]:checked+label:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 32px 0 32px 55.4px;
	border-color: transparent transparent transparent #ffffff;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -33px;
	cursor: default;
}
.DQ {
	color: #ffffff;
}

/* 現在表示中の年月div内の要素 */
.month {
	width: 300px;
	height: 60px;
	margin: auto;
	padding-bottom: 5px;
}
.lastmonth {
	width: 100px;
	height: 60px;
	float: left;
	font-size: 40px;
	text-align: center;
}
.currentmonth {
	width: 100px;
	height: 60px;
	float: left;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
}
.nextmonth {
	width: 100px;
	height: 60px;
	float: left;
	font-size: 40px;
	text-align: center;
}
.month input[type="submit"] {
	position: relative;
	top: 2px;
	font-size: larger;
	color: #ffffff;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

/* 過去の作戦履歴div内の要素 */
.opeHisTbl {
	border-collapse: collapse;
	margin: 0 auto;
}
.cells {
	border: 1px solid;
	border-color: #ffffff;
}
.leftTbl {
	border-collapse: collapse;
	margin: -2px;
}
.opeHisDay {
	width: 40px;
	height: 40px;
	color: #ffffff;
	font-size: 25px;
	border: 1px solid;
	border-color: #ffffff;
}
.rightTbl {
	border-collapse: collapse;
	margin: -2px;
}
.opeHisOpe {
	width: 250px;
	height: 40px;
	color: #ffffff;
	font-size: 25px;
	border: 1px solid;
	border-color: #ffffff;
}
