/* さくせんリストdiv内の要素 */
.operationList {
	width: 300px;
	height: 200px;
	margin: 0 auto;
	background-color: #000000;
	position: relative;
}
#operation {
	position: absolute;
	top: -18px;
	left: 50px;
	color: #ffffff;
	background-color: #000000;
	font-size: larger;
	width: 80px;
	height: 30px;
	z-index: 1;
	padding-left: 3px;
	padding-right: 3px;
}
#line {
	position: absolute;
	top: 15px;
	left: 20px;
	width: 260px;
	height: 170px;
	border: 3px #ffffff solid;
	border-radius: 25px;
}
.list {
	position: absolute;
	font-size: large;
	top: 12px;
	left: 35px;
	height: 150px;
}
.check input {
	opacity: 0;
	width: 30px;
	margin-left: -30px;
}
.label {
	position: relative;
	padding-left: 20px;
}
.label:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 0 9px 15.6px;
	border-color: transparent transparent transparent #000000;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -9px;
	cursor: pointer;
}
.check input[type="radio"]:checked+label:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 0 9px 15.6px;
	border-color: transparent transparent transparent #ffffff;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -9px;
	cursor: default;
}
.DQ {
	color: #ffffff;
}

/* 現在表示中の年月div内の要素 */
.month {
	width: 260px;
	height: 50px;
	margin: 0 auto;
}
.lastmonth {
	width: 100px;
	height: 50px;
	float: left;
	text-align: center;
}
.currentmonth {
	width: 60px;
	height: 50px;
	float: left;
	text-align: center;
}
.nextmonth {
	width: 100px;
	height: 50px;
	float: left;
	text-align: center;
}

/* 過去の作戦履歴div内の要素 */
.opeHisTbl {
	border-collapse: collapse;
	margin: 0 auto;
}
.cells {
	border: 1px solid;
}
.leftTbl {
	border-collapse: collapse;
	margin: -2px;
}
.opeHisDay {
	width: 30px;
	height: 30px;
	border: 1px solid;
}
.rightTbl {
	border-collapse: collapse;
	margin: -2px;
}
.opeHisOpe {
	width: 200px;
	height: 30px;
	border: 1px solid;
}