<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Index</title>
	</head>
    <body>
        <div id="container-inner">
            <div id="contents">
                <!-- コンテンツここから -->
                <div class="container-fluid">
                    <table>
                        <thead>
                        <tr>
                            <th>Day</th>
                            <th>Operation</th>
                        </tr>
                        </thead>
                        <tr>
                            <td><span>1</span></td>
                            <td><span>本日は晴天なり。</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>