<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>さくせん</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styleDQ.css}" />
<script th:src="@{/js/jquery/jquery.js}"></script>

<script type="text/javascript">
$(document).ready(function(){
	var checkNum = $("#operationNum").val();
	if(checkNum == -1){
		document.getElementsByName("number")[0].checked = false;
		document.getElementsByName("number")[1].checked = false;
		document.getElementsByName("number")[2].checked = false;
		document.getElementsByName("number")[3].checked = false;
	} else {
		document.getElementsByName("number")[checkNum].checked = true;
	}
});

	$(function() {
		$("input[name='number']").change(function() {
			$("#operationForm").submit();
		});
	});

	function prevPage() {
		var year = document.getElementsByName("dispYear")[0].value;
		var month = document.getElementsByName("dispMonth")[0].value;
		if (month == 1) {
			year -= 1;
			month = 12;
		}else {
			month -= 1;
		}
		location.href = "/it/" + year + "/" + month;
	}

	function nextPage() {
		var year = Number(document.getElementsByName("dispYear")[0].value);
		var month = Number(document.getElementsByName("dispMonth")[0].value);
		if (month == 12) {
			year += 1;
			month = 1;
		}else {
			month += 1;
		}
		location.href = "/it/" + year + "/" + month;
	}
</script>
</head>

<body>
	<div class="operationList">
		<p id="operation" align="center">さくせん</p>
		<div id="line">
			<form id="operationForm" method="post" action="/it/select" th:object="${operation}">
				<table class="list">
					<tr>
						<td class="check"><input type="radio" name="number" value="0"
							id="radio1" th:field="*{number}" /><label class="label" for="radio1"></label></td>
						<td class="DQ">みんながんばれ</td>
					</tr>
					<tr>
						<td class="check"><input type="radio" name="number" value="1"
							id="radio2" th:field="*{number}" /><label class="label" for="radio2"></label></td>
						<td class="DQ">ガンガンいこうぜ</td>
					</tr>
					<tr>
						<td class="check"><input type="radio" name="number" value="2"
							id="radio3" th:field="*{number}" /><label class="label" for="radio3"></label></td>
						<td class="DQ">テストをだいじに</td>
					</tr>
					<tr>
						<td class="check"><input type="radio" name="number" value="3"
							id="radio4" th:field="*{number}" /><label class="label" for="radio4"></label></td>
						<td class="DQ">いろいろやろうぜ</td>
					</tr>
				</table>
				<br/><br/>
				<input type="hidden" th:field="*{year}" />
				<input type="hidden" th:field="*{month}" />
				<input type="hidden" th:field="*{day}" />
				<input type="hidden" name="dispYear" th:value="${dispYear}" />
				<input type="hidden" name="dispMonth" th:value="${dispMonth}" />
			</form>
		</div>
	</div>

	<!-- 選択したさくせんのnumberを受け取る -->
		<input type="hidden" id="operationNum" th:value="${number}" />

<div class="history">
	<div class="month">
		<div class="lastmonth">
			<input type="button" value="＜" onClick="prevPage()" />
		</div>
		<div class="currentmonth" th:text="${dispYear}+ねん+' '+${dispMonth}+がつ"></div>
		<div class="nextmonth">
			<input type="button" value="＞" onClick="nextPage()" />
		</div>
	</div>


	<div class="opeHisTbl">
		<table class="opeHisTbl1">
			<tr>
				<td class="cells">
					<table class="leftTbl">
						<tr th:each="i:${#numbers.sequence(1, 10)}">
							<td class="opeHisDay" align="center" th:value="${i}" th:text="${i}" />
						</tr>
					</table>
				</td>
				<td class="cells">
					<table class="rightTbl">
						<tr th:each="i:${#numbers.sequence(1, 10)}">
							<td class="opeHisOpe" align="center">
								<div th:each="opeHis:${history}" th:if="${opeHis.day EQ i}" th:text="${opeHis.content}">
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<table class="opeHisTbl2">
			<tr>
				<td class="cells">
					<table class="leftTbl">
						<tr th:each="i:${#numbers.sequence(11, 20)}">
							<td class="opeHisDay" align="center" th:value="${i}" th:text="${i}" />
						</tr>
					</table>
				</td>
				<td class="cells">
					<table class="rightTbl">
						<tr th:each="i:${#numbers.sequence(11, 20)}">
							<td class="opeHisOpe" align="center">
								<div th:each="opeHis:${history}" th:if="${opeHis.day EQ i}" th:text="${opeHis.content}">
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<table class="opeHisTbl3">
			<tr>
				<td class="cells">
					<table class="leftTbl">
						<tr th:each="i:${#numbers.sequence(21, lastDay)}">
							<td class="opeHisDay" align="center" th:value="${i}" th:text="${i}" />
						</tr>
					</table>
				</td>
				<td class="cells">
					<table class="rightTbl">
						<tr th:each="i:${#numbers.sequence(21, lastDay)}">
							<td class="opeHisOpe" align="center">
								<div th:each="opeHis:${history}" th:if="${opeHis.day EQ i}" th:text="${opeHis.content}">
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>