<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>さくせん</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<script th:src="@{../js/jquery/jquery.js}"></script>

<script type="text/javascript">
	$(function() {
		$("input[name='operation']").change(function(){
			//var val = $(this).val();
			//console.log(val);
			$("#operationForm").trigger("submit");
		});
	});
</script>
</head>

<body>
	<div id="background">
		<p id="ope" align="center">さくせん</p>
		<div id="line">
			<form id="operationForm" method="post" th:action="@{/operation}">
				<table id="tab">
					<tr>
						<th class="selected"><input type="radio" name="operation" value="1" class="radio_check" /></th>
						<td class="DQ">みんながんばろう</td>
					</tr>
					<tr>
						<th><input type="radio" name="operation" value="2" class="radio_check" /></th>
						<td class="DQ">ガンガンいこうぜ</td>
					</tr>
					<tr>
						<th><input type="radio" name="operation" value="3" class="radio_check" /></th>
						<td class="DQ">テストをだいじに</td>
					</tr>
					<tr>
						<th><input type="radio" name="operation" value="4" class="radio_check" /></th>
						<td class="DQ">いろいろやろうぜ</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>